<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mayank.nfcapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".NfcApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NfcActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <service
            android:name=".locationservice.LocationService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".newlocationservice.NewLocationService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <!-- sync authenticator service -->
        <service android:name=".sync.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/sync_authenticator" />
        </service>
        <service
            android:name=".sync.nfcstudentsync.LocationSyncService"
            android:exported="false"
            android:label="Location">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/location_sync_adapter" />
        </service>
        <service
            android:name=".sync.nfcbusync.BusLocationSyncService"
            android:exported="false"
            android:label="BusLocation">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/bus_location_sync_adapter" />
        </service>

        <provider
            android:name=".sync.nfcbusync.BusLocationSyncContentProvider"
            android:authorities="@string/sync_content_authority_bus_location"
            android:exported="false"
            android:label="BusLocation"
            android:syncable="true" />
        <provider
            android:name=".sync.nfcstudentsync.LocationSyncContentProvider"
            android:authorities="@string/sync_content_authority_location"
            android:exported="false"
            android:label="Location"
            android:syncable="true" />

        <activity android:name=".sample.MySampleActivity" />
        <activity android:name=".locationservice.StartBusLocationActivity" />
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".map.MapsActivity"
            android:label="@string/title_activity_maps" />

        <service
            android:name=".sample.LocationJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name=".newlocationservice.StartBusLocationServiceActivity"></activity>

        <activity android:name=".sample.SampleMapActivity"></activity>
    </application>

</manifest>